In [1]:
hex(12)

'0xc'

In [3]:
hex(512)

'0x200'

In [4]:
bin(1234)

'0b10011010010'

In [5]:
2**4

16

In [6]:
pow(2,4)

16

In [7]:
abs(-3)

3

In [8]:
abs(-2)

2

In [9]:
round(3,2)

3

In [10]:

round(3.1415926535,2)

3.14

In [11]:

s = 'hello world'

In [12]:
s.capitalize()

'Hello world'

In [14]:
s.upper()

'HELLO WORLD'

In [15]:
s.lower()

'hello world'

In [17]:
s.find('o')

4

In [19]:
s.center(20,'z')

'zzzzhello worldzzzzz'

In [20]:
'hello\thi'.expandtabs()

'hello   hi'

In [21]:
s = 'hello'

In [22]:
s.isalnum()

True

In [23]:
s.isalpha()

True

In [24]:
s.islower()

True

In [25]:
s.isspace()

False

In [26]:
s.istitle()

False

In [27]:

s.isupper()

False

In [28]:
s.endswith('o')

True

In [29]:
s.split('e')

['h', 'llo']

In [30]:
s.partition('l')

('he', 'l', 'lo')

In [31]:
s= set()

In [32]:
s.add(1)

In [33]:
s.add(2)

In [34]:
s

{1, 2}

In [35]:
s.clear()

In [36]:
s

set()

In [37]:
s={1,2,3}
sc = s.copy()

In [38]:
sc

{1, 2, 3}

In [39]:
s

{1, 2, 3}

In [40]:
s.add(4)

In [41]:
s

{1, 2, 3, 4}

In [42]:
sc

{1, 2, 3}

In [44]:
s.difference(sc)

{4}

s1={1,2,3}

In [45]:
s1 = {1,2,3}

In [46]:
s2 = {1,2,4}

In [47]:
s1.intersection(s2)

{1, 2}

In [48]:
s1

{1, 2, 3}

In [50]:
s1.intersection_update(s2)

In [51]:
s1

{1, 2}

In [52]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [53]:
s1.isdisjoint(s2)

False

In [54]:
s1.isdisjoint(s3)

True

In [55]:
s1

{1, 2}

In [56]:
s2

{1, 2, 4}

In [57]:
s1.issubset(s2)

True

In [58]:
s2.issuperset(s1)

True

In [59]:
s1.issuperset(s2)

False

In [60]:
s1

{1, 2}

In [61]:
s2

{1, 2, 4}

In [62]:
s1.symmetric_difference(s2)

{4}

In [63]:
s1.union(s2)

{1, 2, 4}

In [66]:
s1.update(s2)

In [67]:
s1

{1, 2, 4}

In [68]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [69]:
d={'k1':1,'k2':2}

In [70]:
for k in d.keys():
    print(k)

k1
k2

In [71]:
for v in d.values():
    print(v)

1
2

In [72]:
for items in d.items():
    print(items)

('k1', 1)
('k2', 2)

In [73]:
key_view = d.keys()

key_view

dict_keys(['k1', 'k2'])

In [74]:
d['k3'] = 3

d

{'k1': 1, 'k2': 2, 'k3': 3}

In [75]:
key_view

dict_keys(['k1', 'k2', 'k3'])

In [76]:
list1=[1,2,3]

In [77]:
list1.append(4)

In [79]:
list1

[1, 2, 3, 4]

In [80]:
list1.count(10)

0

In [81]:
list1.count(2)

1

In [82]:
x=[1,2,3]
x.append([4,5])
print(x)

[1, 2, 3, [4, 5]]

In [83]:
list1.index(2)

1

In [84]:
list1.index(12)

ValueError: 12 is not in list

In [85]:
list1=[1,2,3,4]

In [86]:
list1.insert(2,'inserted')

In [87]:
list1

[1, 2, 'inserted', 3, 4]

In [88]:
ele = list1.pop(1)

In [89]:
list1

[1, 'inserted', 3, 4]

In [90]:
ele

2

In [91]:
list1

[1, 'inserted', 3, 4]

In [92]:
list1.remove('inserted')

In [94]:
list1

[1, 3, 4]

In [95]:
list2 = [1,2,3,4,3]

In [96]:
list2.remove(3)

In [97]:
list2

[1, 2, 4, 3]

In [98]:
list2.reverse()

In [99]:
list2

[3, 4, 2, 1]

In [100]:
list2

[3, 4, 2, 1]

In [101]:
list2.sort()

In [102]:
list2

[1, 2, 3, 4]

In [103]:
list2.sort(reverse=True)

In [104]:
list2

[4, 3, 2, 1]

In [105]:
def make_list(num):
    for i in range(num):
        print('local variable i:',i)

In [107]:
print(make_list(3))

local variable i: 0
local variable i: 1
local variable i: 2
None

In [109]:
def make_list(num):
    for i in range(num):
        print('local variable i:',i)
        return i

In [111]:
print(make_list(3))

local variable i: 0
0

In [112]:
def make_list(num):
    for i in range(num):
        print('local variable i:',i)
        yield i

In [114]:
print(make_list(3))

<generator object make_list at 0x000002481D170048>

In [115]:
print(list(make_list(3)))

local variable i: 0
local variable i: 1
local variable i: 2
[0, 1, 2]

In [116]:
print(None ==0)
print(None ==[])
print(None == False)
x= None
y= None
print(x==y)

False
False
False
True

In [117]:
def a_void_function():
    a=1
    b=2
    c=a+b
x=a_void_function()
print(x)

None

In [118]:
def improper_return_function(a):
    if (a%2)==0:
        return True
x=improper_return_function(3)
print(x)

None

In [121]:
def factorial(n):
    if(n==0 or n==1):
        return 1
    else:
        return n*factorial(n-1)
    
n=int(input("Enter n value "))
res=factorial(n)
print(res)

Enter n value 6
720

In [133]:
lst=[1,2,3,4,5,6,7]
def evenoddsum(lst):
    even_sum=0
    odd_sum=0
    for i in lst:
        if i%2==0:
            even_sum=even_sum+i
        else:
            odd_sum=odd_sum+i
    return even_sum,odd_sum

In [135]:
evenoddsum(lst)

(12, 16)

In [136]:
x='global x'

def test():
    y='local y'
    print(y)
    
test()

local y

In [137]:
sum=(lambda x,y:x+y)
print("sum=",sum(2,3))

sum= 5

In [139]:
lst=[1,2,3,4,5,6,7,8,9,0]

def even(num):
    if num%2==0:
        return True

In [141]:
list(filter(even,lst))

[2, 4, 6, 8, 0]

In [143]:
myList=[1,2,3,4,5]

prod=reduce((lambda x,y:x*y),myList)

print(prod)

NameError: name 'reduce' is not defined

In [145]:
greatest=reduce((lambda x,y: y if (y>x) else x),myList)

NameError: name 'reduce' is not defined

In [146]:
myList=[1,2,3,4,5]

for i in reversed(myList):
    print(i)

5
4
3
2
1

In [147]:
a=['c','b','a']
sorted(a)

['a', 'b', 'c']

In [148]:
a=['c','b','a','C']
sorted(a)

['C', 'a', 'b', 'c']