In [1]:
a=10

In [2]:
a

10

In [3]:
a=15

In [4]:
a

15

In [5]:
a+a

30

In [8]:
a

60

In [9]:
a

60

In [19]:
a=a+a

In [20]:
a

480

In [15]:
a

120

In [21]:
type(a)

int

In [22]:
'hello'

'hello'

In [23]:
"hello"

'hello'

In [24]:
print("print \n hello")

print
 hello

In [25]:
print("print \t hello")

print 	 hello

In [27]:
len('length')

6

In [28]:
mystring ="Hello World"

In [29]:
mystring

'Hello World'

In [33]:
mystring[-2]

'l'

In [38]:
letter = 'z'

In [39]:
letter * 10

'zzzzzzzzzz'

In [40]:
2+3

5

In [41]:
'2'+'3'

'23'

In [42]:
x="Hello World"

In [43]:
x.upper()

'HELLO WORLD'

In [44]:
x.lower()

'hello world'

In [46]:
x.split()

['Hello', 'World']

In [47]:
x="Hi this is a string"

In [48]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [49]:
my_list=[1,2,3]

In [52]:
m_list=['STRING',100,23.2]

In [53]:
print(my_list)

[1, 2, 3]

In [54]:
len(my_list)

3

In [72]:
mylist=['one','two','three']

In [73]:
mylist[0]

'one'

In [74]:
mylist[1:]

['two', 'three']

In [75]:
another_list=['four','five']

In [76]:
new_list= mylist + another_list

NameError: name 'new_list' is not defined

In [77]:
my_list=['1','2','3']

In [78]:
mylist[0]='New'

In [79]:
mylist

['New', 'two', 'three']

In [87]:
my_lists1=[1,2,3]

In [88]:
my_lists1

[1, 2, 3]

In [89]:
my_lists1[0]='NEW'

In [90]:
my_lists1

['NEW', 2, 3]

In [91]:
myset=set()

In [92]:
myset

set()

In [93]:
myset.add(1)

In [94]:
myset

{1}

In [95]:
myset.add(2)

In [97]:
myset

{1, 2}

In [98]:
myset=[1,1,2,2,2,3,3,3,3]

In [99]:
myset

[1, 1, 2, 2, 2, 3, 3, 3, 3]

In [101]:
set(myset)

{1, 2, 3}

In [102]:
type(False)

bool

In [103]:
1>2

False

In [104]:
1==1

True